.Row button {
  width: fit-content;
  padding: 1px 10px;
  margin-left: 20px;
  background-color: white;
}

.Row {
  margin:auto;
  width: fit-content;
  border-bottom: gray solid 3px;
  margin-bottom: 2px;
}
